{% extends 'bugs/base.html' %}

{% block title %}Bug List{% endblock %}

{% load custom_filters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" xmlns="http://www.w3.org/1999/html">

{% block content %}
<div class="bread-crumb">
    <p><a style="color: #b8253b;" href="{% url 'home' %}">Home</a> | <a style="color: #b8253b;" href="{% url 'project_list' %}">Project List</a> | <span style="font-size:14px;">
        {{ project_name }}-{{ user.username }}</span></p>

</div>
<h2 style="border-bottom: 2px solid #ccc;">Bug List</h2>

<!-- Display status counts at the top -->
<div class="status-count">
    <p style="background-color: #faebd7; padding: 10px;">
        Open: <span style="color: red;">  {{ open_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        In Progress:<span style="color: blue;">  {{ in_progress_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Re-opened:<span style="color: brown;">  {{ reopen_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Done:<span style="color: green;">  {{ done_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Closed:<span style="color: grey;">  {{ close_count }}</span>
    </p>
</div>

<div class="filter" style="margin-top: 50px; margin-bottom: 10px; display: flex; align-items: center; ">
    <select style="border: 1px solid #ccc;
                            border-radius: 4px; box-sizing: border-box;" id="status-filter">
        <option value="all">All</option>
        <option value="Open">Open</option>
        <option value="In Progress">In Progress</option>
        <option value="Re-open">Re-open</option>
        <option value="Done">Done</option>
        <option value="Close">Closed</option>
    </select>

    <div style="margin-left: 10px;">
        <select style="padding-right: 15px; border: 1px solid #ccc;
                            border-radius: 4px; box-sizing: border-box;" id="user-filter">
            <option value="all">All Users</option>
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="create_bug_link">
        <a style="color: #2b4a6a;" href="{% url 'create_bug' project_id=project_id %}"><strong>Create New</strong></a>
    </div>
</div>

<div class="table-container">
    <table class="table m">
        <thead class="table-header">
        <tr class="table-row">
            <th>Bug_ID</th>
            <th>Title</th>
            <th>Created On</th>
            <th>Reporter</th>
            <th>Assigned_to</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for bug in bugs %}
        <tr data-status="{{ bug.status }}" data-assigned="{{ bug.assigned_to.id }}">
            <td><a style="color: #386fa7;" href="{% url 'bug_detail' project_id=project_id bug_id=bug.id %}">{{ bug.bug_id }}</a>
            </td>
            <td>{{ bug.title }}</td>
            <td>{{ bug.created_at }}</td>
            <td>{{ bug.reporter }}</td>
            <td>{{ bug.assigned_to }}</td>
            <td style="margin-top: 7px; padding-bottom: 10px; vertical-align: middle;" class=" status-button {% if bug.status == 'Open' %}status-open
            {% elif bug.status == 'In Progress' %}status-in-progress
            {% elif bug.status == 'Re-open' %}status-reopen
            {% elif bug.status == 'Done' %}status-done
            {% elif bug.status == 'Closed' %}status-closed{% endif %}">{{ bug.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<p style="margin-top: 20px;">Download <a href="{% url 'generate_pdf_report' project_id=project_id %}"
                                         class="btn-custom-report" style="color: #b8253b;">Bug report</a></p>

<p style="margin-top: -20px;">Click here to <a href="{% url 'send_mail_bug_report' project_id=project_id %}"
                                               class="btn-custom-report" style="color: #b8253b;">send mail</a></p>

{% endblock %}