{% extends 'bugs/base.html' %}

{% block title %}Bug List{% endblock %}

{% load custom_filters %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" xmlns="http://www.w3.org/1999/html">

{% block content %}
<div  class="bread-crumb" >
    <p><a style="color: #b8253b;" href="{% url 'project_list' %}">Project List</a> | <span style="font-size:14px;">
        {{ project_name }}-{{ user.username }}</span></p>

</div>
<h2 style="border-bottom: 2px solid #ccc;">Bug List</h2>

<!-- Display status counts at the top -->
<div class="status-count">
    <p style="background-color: #faebd7; padding: 10px;">
        Open: <span style="color: red;">  {{ open_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        In Progress:<span style="color: blue;">  {{ in_progress_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Re-open:<span style="color: brown;">  {{ reopen_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Done:<span style="color: green;">  {{ done_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Close:<span style="color: grey;">  {{ close_count }}</span></p>
</div>

<div class="filter"  style="margin-top: 50px; margin-bottom: 10px; display: flex; align-items: center; ">
    <select style="border: 1px solid #ccc;
                            border-radius: 4px; box-sizing: border-box;" id="status-filter">
        <option value="all">All</option>
        <option value="Open">Open</option>
        <option value="In Progress">In Progress</option>
        <option value="Re-open">Re-open</option>
        <option value="Close">Close</option>
        <option value="Done">Done</option>
    </select>

    <div style="margin-left: 10px;">
        <select style="padding-right: 15px; border: 1px solid #ccc;
                            border-radius: 4px; box-sizing: border-box;" id="user-filter">
            <option value="all">All Users</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="create_bug_link">
        <a style="color: #2b4a6a;" href="{% url 'create_bug' project_id=project_id %}"><strong>Create New</strong></a>
    </div>
</div>

<div class="table-container">
    <table class="table m" >
        <thead class="table-header">
            <tr class="table-row">
                <th>Bug_ID</th>
                <th>Title</th>
                <th>Status</th>
                <th>Created On</th>
                <th>Reporter</th>
                <th>Assigned_to</th>
            </tr>
        </thead>
        <tbody>
            {% for bug in bugs %}
                <tr data-status="{{ bug.status }}" data-assigned="{{ bug.assigned_to.id }}">
                    <td><a style="color: #386fa7;" href="#" data-toggle="modal" data-target="#bugModal{{ bug.id }}">{{ bug.bug_id }}</a></td>
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.status }}</td>
                    <td>{{ bug.created_at }}</td>
                    <td>{{ bug.reporter }}</td>
                    <td>{{ bug.assigned_to }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for bug in bugs %}

        <!-- Modal -->
        <div class="modal fade" id="bugModal{{ bug.id }}" tabindex="-1" role="dialog"
             aria-labelledby="bugModalLabel{{ bug.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="bugModalLabel{{ bug.id }}" style="color: #b8253b; font-size:18px;">
                            Bug Detail | <span style="font-size:14px; color: #2b4a6a;">{{ bug.bug_id }}</span></h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p style="margin-bottom: 2px;"><span style="font-weight:bold; color: #2b4a6a;">ID: </span>&nbsp;&nbsp;<span style="font-weight: 400;"> {{ bug.bug_id }}</span></p>
                        <p style="margin-bottom: 2px;"><span style="font-weight:bold; color: #2b4a6a;">Reported by: </span>&nbsp;&nbsp;<span style="font-weight: 400;">{{ bug.reporter }}</span></p>
                        <p><span style="font-weight:bold; color: #2b4a6a;">Assigned_to: </span>&nbsp;&nbsp;<span style="font-weight: 400;">{{ bug.assigned_to }}</span></p>
                        <p><span style="font-weight:bold; color: #2b4a6a;">Title:</span><br><span style="font-weight: 400;">{{ bug.title }}</span></p>
                        <p><span style="font-weight:bold; color: #2b4a6a;">Description:</span><br><span style="font-weight: 400;">{{ bug.description }}</span></p>

                        <!-- Display the uploaded image -->
                        {% if bug.images %}
                            <p style="font-weight:bold; color: #2b4a6a;">Image:</p>
                            <a href="{{ bug.images.url }}" data-lightbox="bug-gallery" data-title="Bug Image">
                            <img src="{{ bug.images.url }}" alt="Bug Image" class="bug-image"></a>
                        {% endif %}

                        <!-- Image Modal -->
                        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
                             aria-labelledby="imageModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="" alt="Bug Image" class="img-fluid" id="largeImage">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p style="margin-top: 20px;"><span style="font-weight:bold; color: #2b4a6a;">Status: </span>&nbsp;&nbsp;<span style="font-weight: 400;">{{ bug.status }}</span></p>
                        <hr>

                        <div class="update-time-logs">
                            <p style="color: #b1aeae; font-size: 14px; font-family: inherit; margin-bottom: -5px;">created&nbsp;&nbsp; {{ bug.created_at }}</p>
                            {% if last_updated_times|get_item:bug.id %}
                                <p style="color: #b1aeae; font-size: 14px; font-family: inherit; margin-bottom: -5px;">updated&nbsp; {{ last_updated_times|get_item:bug.id }}</p>
                            {% endif %}
                            {% if bug.status == "Close" %}
                                <p style="color: #b1aeae; font-size: 14px; font-family: inherit;">resolved&nbsp; {{ last_closed_updated_times|get_item:bug.id }}</p>
                            {% endif %}
                        </div>

                        <hr>

                        <!-- Add status edit form -->
                        <form class="update-status-form" method="post"
                              action="{% url 'update_bug_status' project_id=project_id bug_id=bug.id %}">


                            {% csrf_token %}
                            <div class="form-group">
                                <label for="commandInput"><span style="font-weight:bold; color: #2b4a6a;">Comments:</span></label>
                                <textarea placeholder="Add your comment..." class="form-control" name="command2"
                                          id="commandInput" rows="3"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="images"><span style="font-weight:bold; color: #2b4a6a;">Attachment:</span></label>
                                <input style="padding: 0px; font-size: 13px; cursor: pointer;"
                                       type="file" class="form-control-file" id="images" name="images">
                            </div>

                            <label for="status"><span style="font-weight:bold; color: #2b4a6a;">Change Status:</span></label>
                            <select name="status" id="status" style="margin-left: 5px; border: 1px solid #ccc;
                            border-radius: 4px; box-sizing: border-box; color:#323131;">
                                {% for choice in bug.STATUS_CHOICES %}
                                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>

                            <input type="hidden" id="command" name="command" value="{{ bug.command }}">
                            <button style="background-color: #2b4a6a; padding: 4px 12px 4px 12px; margin-left: 675px;
                                font-size: 14px; border-color: #2b4a6a;" type="submit" class="btn btn-primary">Update</button>
                        </form>

                        <!-- Success message container -->
                        <div class="success-message"></div>
                    </div>

                    <div class="modal-footer">
                        <div class="history"  style="flex: 100%;">
                            <p style="border-bottom: 3px solid #ccc; margin-bottom:12px;">
                                <span style="font-weight:bold; color: #2b4a6a; font-size: 16px;">Comments:</span>
                            </p>
                            <p style="font-size: 14px;"><span style="color:#b8253b;">{{ bug.reporter }}</span>
                                created this bug and assigned to {{ bug.assigned_to }} on {{ bug.created_at }}</p>
                            <hr>

                            <div class="history-comments">
                                {% for entry in bug_history_entries %}
                                    {% if entry.bug.project.id == project_id %}
                                        {% if  entry.bug_id_code == bug.bug_id %}
                                            <p><span style="color: #b8253b;">{{ entry.status_assigned_user }}</span>,
                                                &nbsp;&nbsp;&nbsp;&nbsp;{{ entry.updated_at }}</p>
                                            <p style="margin-top: -20px;"><span style="font-weight:bold; color: #2b4a6a;">Comments:</span>
                                                &nbsp;&nbsp;&nbsp; {{ entry.comments }}, and the status is changed to
                                                <span style="color:#b8253b;">{{ entry.status }}</span></p>
                                            {% if entry.images %}
                                                <a href="{{ entry.images.url }}" data-lightbox="image-gallery">
                                                    <img src="{{ entry.images.url }}" alt="Bug Image" style="margin-top:-10px; margin-left: 5px; max-width: 500px; height: 200px;">
                                                </a>
                                            {% endif %}
                                            <hr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

</div>

<p style="margin-top: 10px;"> <a  href="{% url 'generate_pdf_report' project_id=project_id %}" class="btn-custom-report" >
    Click here to download the report</a></p>

{% endblock %}