<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change-Password</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/access.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

<!--    <script src="{% static 'js/accesserrormessage.js' %}"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

</head>
<body>

<div class="container access-page">
    <form method="post" action="{% url 'changepassword' %}">
        {% csrf_token %}
        <h2 style="margin-bottom: 30px; color: #b8253b;">Forgot Password</h2>

        <label class="access-label" for="email">Email</label><br>
<!--        <input class="form-field" type="text" placeholder="Enter username" name="username" id="username" required="required"><br>-->
        {{ form.email }}<br>

        <button type="submit">Submit</button>

        <div id="hideMeAfter5Seconds">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </form>

</div>

</body>
</html>