<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change-Password</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/access.css' %}">

    <script src="{% static 'js/accesserrormessage.js' %}"></script>

</head>
<body>

<div class="container access-page">
    <form method="post">
        {% csrf_token %}
        <h2 style="margin-bottom: 30px; color: #b8253b;">Forgot Password</h2>

        <label class="access-label" for="username">Username</label><br>
        <input class="form-field" type="text" placeholder="Enter username" name="username" id="username" required="required"><br>

        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>