<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Bug</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
</head>
<body>
<div class="bread-crumb1" style="margin-left: 338px; margin-bottom: -35px;">
    <p style="margin-left: 10px; margin-bottom: 50px;"><a style="color: #b8253b;"
                                                          href="{% url 'bug_list' project_id=project_id %}">
        Bug List</a> | <span style="font-size:14px;">{{ project_name }}-{{ user.username }} | Create</span></p>
</div>
<div class="container" style="max-width: 800px;">
    <h2 style="margin-left: 20px; border-bottom: 2px solid #ccc;">Create Bug</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="background-color: #2b4a6a; padding: 6px 20px 6px 20px;
        font-size: 14px;" type="submit">Add
        </button>
    </form>
</div>
</body>
</html>