<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">-->

</head>
<body>
<div class="bread-crumb" style="margin-left: 147px;">
    <p><span style="font-size:16px;">{{ user.username }}</span> | <a style="color: #b8253b;" href="{% url 'login' %}">&nbsp;Logout</a>
    </p>
</div>
<div class="container">
    <p>Check your Bug status summary of each project which assigned. Click here to view you project lists
        <a style="color: #2b4a6a; font-weight: 600;" href="{% url 'project_list' %}">&nbsp;Project List</a></p><br>

    {% for project_info in project_data %}
    <h6 style="margin-top: -10px; margin-bottom: -5px;">
        <a style="color: #2b4a6a; margin-left: 2px; font-size: 14px;" href="{{ project_info.bug_list_url }}">{{ project_info.project }}
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
    </h6>

    <p style="background-color: #faebd7; padding: 10px;">
        <span style="font-weight: 600;">Total: {{ project_info.status_total_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Open: <span style="color: red;">  {{ project_info.open_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        In Progress:<span style="color: blue;">  {{ project_info.in_progress_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Re-open:<span style="color: brown;">  {{ project_info.reopen_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Done:<span style="color: green;">  {{ project_info.done_count }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Closed:<span style="color: grey;">  {{ project_info.close_count }}</span>
        <span style="color: #2b4a6a; margin-left: 530px; font-size: 13px;">
                    <a style="color: #2b4a6a; margin-left: -20px;" href="{{ project_info.bar_chart_url }}">Chart View</a></span>
    </p>
    {% endfor %}
</div>

</body>
</html>

