<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset-Password</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/access.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

<!--    <script src="{% static 'js/accesserrormessage.js' %}"></script>-->
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

    <div class="container access-page">
        {% if valid_token %}
        <form method="post" action="{% url 'resetpassword' %}">
            {% csrf_token %}
            <h2 style="margin-bottom: 30px; color: #b8253b;">Reset Password</h2>

            <label class="access-label" for="password1">Password</label><br>
            <input class="form-field" type="password" placeholder="Enter Password" name="password1" id="password1" required="required"><br>
<!--            {{ form.password1 }}<br>-->

            <label class="access-label" for="password2">Confirm Password</label><br>
            <input class="form-field" type="password" placeholder="Confirm Password" name="password2" id="password2" required="required"><br>
<!--            {{ form.password2 }}<br>-->

            <button type="submit">Submit</button>
        </form>
        {% endif %}
    </div>

</body>
</html>