<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset-Password</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/access.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>
<body>

    <div class="container access-page" >
        <form method="post" action="{% url 'reset_form' token=token %}">
            {% csrf_token %}
            <h2 style="margin-bottom: 30px; margin-top: -10px; color: #b8253b;">Reset Password</h2>

            {% if user %}
                <p style="font-weight: 400;">Hi {{ user }} please reset your password</p>
            {% endif %}

            <label class="access-label" for="{{ form.new_password1.id_for_label }}">New Password</label><br>

            {{ form.new_password1 }}<br>

            <label class="access-label" for="{{ form.new_password2.id_for_label }}">Confirm Password</label><br>

            {{ form.new_password2 }}<br>
            <div class="reset-button">
                <button type="submit">Reset Password</button>
            </div>

            <div style="margin-left:-20px; margin-top:-110px; margin-bottom:-50px;">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    <p><span style="font-weight: 600;">Get back to <a href='{% url "login" %}'>Login</a></span></p>
                {% endif %}
            </div>

        </form>
    </div>

</body>
</html>
