<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change-Password</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/access.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

</head>
<body>

<div class="container access-page">
    <form method="post" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <h2 style="margin-bottom: 30px; margin-top: -10px; color: #b8253b;">Forgot Password</h2>

        <label class="access-label" for="email">Email</label><br>
        {{ form.email }}<br>

        <button type="submit">Submit</button>
        <span style="margin-left: 280px; font-weight: 600;">Get back to
            <a href='{% url "login" %}'>&nbsp;Login</a></span>

        <div id="hideMeAfter5Seconds" style="margin-left:-20px; margin-top:-110px; margin-bottom:-50px;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </form>
</div>

</body>
</html>
