/* Custom Text Color */
body {
    color: #333;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
    sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body p {
    font-weight: 600;
    padding-bottom:5px;
}

input[type="file"] {
    padding-left: 10px;
}

/* Custom Button Styles */
.btn-custom {
    background-color: #2b4a6a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
}

.btn-custom:hover {
    background-color: #648bb3;
}

/* Breadcrumb Styles */
.bread-crumb {
    margin-bottom: 50px;
    margin-top: 30px;
}

.breadcrumb a {
    color: #333;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.history {
    max-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
}

.status-count {
    margin-top: 80px;
}

.create_bug_link {
    padding-left: 915px;
}

.project-head-title {
    font-size: 18px:
}

/* Define fixed width for each column */
th:nth-child(1),
td:nth-child(1) {
    width: 20%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 45%;
}

.history {
    padding-top: 10px;
}

.history div {
    margin-bottom: 10px; /* Add some space between history entries */
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
}

.thumbnail {
    margin-right: 10px;
}

.thumbnail img {
    max-width: 100px;
    height: auto;
    cursor: pointer;
}

.thumbnail img:hover {
    border: 1px solid #b8253b;
}

.bug-image {
    max-width: 80%;
    height: auto;
}

.modal-body {
    max-height: 65vh; /* Adjust as needed */
    overflow-y: auto;
}

/* Increase the width of the modal dialog */
.modal-dialog {
    max-width: 800px; /* Set the desired width */
}

/* Center the modal content within the dialog */
.modal-content {
    margin: 0 auto;
}

.table thead {
    border-bottom: 3px solid #dee2e6;
}

.table td, .table th {
    padding: 0.50rem
}

/* CSS for the table container */
.table-container {
    max-height: 300px; /* Set your desired fixed height */
    overflow-y: auto; /* Add vertical scroll if content overflows */
    border: 0px solid #ccc; /* Add borders for visual separation */
}

/* CSS for the table to maintain width */
.table {
    width: 100%;
    margin-top: 10px;
}

.table-header {
    position: sticky;
    top: -1px;
    background-color: #f1f1f1; /* Set your desired background color */
}

/* Webkit-based browsers (Chrome, Safari) */
.table-container::-webkit-scrollbar {
    width: 6px; /* Adjust the width as needed */
    height: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #999; /* Set the color of the thumb */
    border-radius: 6px; /* Round the thumb */
}

/* Firefox */
.table-container {
    scrollbar-width: thin; /* Adjust the width as needed */
}

.table-container {
    scrollbar-color: #999 transparent; /* Set the colors of the thumb and track */
}

.btn-custom-report {
    /* padding: 4px 10px 4px 10px;*/
    color: #2b4a6a;
    /* background-color: #2b4a6a;
    border-color: #2b4a6a; */
}
.btn-custom-report:hover {
    color: #000000;
    /* background-color: #000000;
    border-color: #000000; */
}